<header>
    <nav>
        <a href="/">Tian Mao</a>
        <a style="float:right;padding-right: 800px" href="/admin/dashboard">Admin Area - Remove Later</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">User Management</a></li>
            <li><a href="/login">Sign In</a></li>
            <li><a href="/sign_up">Sign Up</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>