<header>
    <nav>
        <a href="/">Tian Mao</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">User Management</a></li>
        </ul>
    </nav>
</header>