<header>
    <nav>
        <a href="/">Tian Mao</a>
        <ul>
            <%pages.forEach(page => {%>
                <%if (page.slug == "home") {%>
                    <li><a href="/"><%=page.pageTitle%></a></li>
                <%}else {%>
                    <li><a href="/<%=page.slug%>"><%=page.pageTitle%></a></li>
                <%}%>
            <%})%>
            <li><a href="/markets/sellers">WANT TO BE A SELLER?</a></li>
            <li><a><i class="fas fa-shopping-cart"></i> Sopping Cart </a></li>
            <%if (locals.user != null) {%>
                <%if (user) {%>
            <li><a href="#"><i class="fas fa-user" aria-hidden="true"></i>Dropdown menu: User Management</a></li>
                    <li>Welcome, <%=user.username%></li>
                    <li>Settings</li>
                    <li><a href="/user/logout">Logout</a></li>
                <%}%>
            <%}else {%>
                <li><a href="/user/login">Sign In</a></li>
                <li><a href="/user/sign_up">Sign Up</a></li>
            <%}%>
            <%if (locals.user && locals.user.admin == 1) {%>
                <li><a href="/admin/dashboard">Admin Area</a></li>
            <%}%>
        </ul>
    </nav>
</header>