<header>
    <nav>
        <a href="/">Tian Mao</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Category</a></li>
            <li><a href="#">Books</a></li>
            <%if (locals.user != null) {%>
                <%if (user) {%>
                    <li><a href="#">Dropdown menu: User Management</a></li>
                    <li>Welcome, <%=user.username%></li>
                    <li>Settings</li>
                    <li><a href="/logout">Logout</a></li>
                <%}%>
            <%}else {%>
                <li><a href="/login">Sign In</a></li>
                <li><a href="/sign_up">Sign Up</a></li>
            <%}%>
            <%if (locals.user && locals.user.admin == 1) {%>
                <li><a href="/admin/dashboard">Admin Area - Remove Later</a></li>
            <%}%>
        </ul>
    </nav>
</header>