<h2>Admin Dashboard Page</h2>
<br><br><br>
<h3>Recently Added</h3>

<%if (locals.pages.length > 0) {%>
    <div>
        <label>Pages</label>
        <br><br>
        <%pages.forEach(page => {%>
            <div><%=page.pageTitle%></div>
        <%})%>
    </div>
<%}else {%>
    <h3>Recently nothing change......</h3>
<%}%>
<br>
<%if (locals.categories.length > 0) {%>
    <div>
        <label>Categories</label>
        <br><br>
        <%categories.forEach(category => {%>
            <div><%=category.categoryName%></div>
        <%})%>
    </div>
<%}else {%>
    <h3>Recently nothing change about category ......</h3>
<%}%>
<br>
<%if (locals.products.length > 0) {%>
    <a>
        <label>Products</label>
        <br><br>
        <%products.forEach(product => {%>
            <a href="/admin/products/<%=product.id%>">
                <img height="150" width="100" src="<%=product.coverImagePath%>" alt="product cover image">
            </a>
        <%})%>
    </div>
<%}else {%>
    <h3>Recently nothing change about products ......</h3>
<%}%>
