<h1>Login</h1>
<a href="/">Since this web is so simple users MUST REGISTER FIRST -- 必须先注册 ？ 貌似没有关闭连接</a>
<br><br><br>
<div>
    <%if (success_msg != null) {%>
        <%=success_msg%>
    <%}%>
</div>
<div>
    <%if (error_msg != null) {%>
    <%=error_msg%>
    <%}%>
</div>
<div>
    <%if (error != null) {%>
    <%=error%>
    <%}%>
</div>
<form action="/user/login" method="post">
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>

<p>Sign up for an account?</p>
<a href="/user/sign_up">Register</a>