<h1>Login</h1>
<a href="/">I DO NOT want to register this shiit website</a>
<br><br><br>
<div>
    <%if (success_msg != null) {%>
        <%=success_msg%>
    <%}%>
</div>
<div>
    <%if (error_msg != null) {%>
    <%=error_msg%>
    <%}%>
</div>
<div>
    <%if (error != null) {%>
    <%=error%>
    <%}%>
</div>
<form action="/login" method="post">
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>

<a href="/sign_up">Register</a>