<h1 class="app-title-register"><a href="/">Tian Mao</a></h1>
<div>
    <%if (error_msg != null) {%>
    <%=error_msg%>
    <%}%>
</div>
<div>
    <%if (error != null) {%>
    <%=error%>
    <%}%>
</div>
<form class="register-form" action="/user/login" method="post">
    <h1 class="register-title">Login / 登陆</h1>
    <br>
    <div>
        <label for="email">Email / 邮箱</label><br>
        <input class="register-input" type="email" id="email" name="email" required="required"
               oninvalid="this.setCustomValidity('Email is required.')"
               oninput="this.setCustomValidity('')">
    </div>
    <br>
    <div>
        <label for="password">Password / 密码</label><br>
        <input class="register-input" type="password" id="password" name="password" required="required"
               oninvalid="this.setCustomValidity('Password is required.')"
               oninput="this.setCustomValidity('')">
        <div class="forgot">
            <a href="/user/reset" >Forgot Password ?</a>
        </div>
    </div>
    <button type="submit" class="register-btn">Login / 登陆</button>
</form>

<div class="register-footer">
    <p>Sign up for an account?</p>
    <a href="/user/sign_up" class="register">Register / 注册</a>
</div>