<h1>Register/ 注册</h1>
<a href="/">Since this web is so simple users MUST REGISTER FIRST -- 必须先注册 ？ 貌似没有关闭连接</a>
<br><br><br>
<form action="/seller/sign_up" method="post">
    <div>
        <label for="name">Username / 用户名</label>
        <input type="text" id="username" name="username" placeholder="Username" required="required"
               oninvalid="this.setCustomValidity('Username is required.')"
               oninput="this.setCustomValidity('')">
    </div>

    <div>
        <label for="email">Email / 邮箱</label>
        <input type="email" id="email" name="email" placeholder="Email" required="required"
               oninvalid="this.setCustomValidity('Email is required.')"
               oninput="this.setCustomValidity('')">
    </div>

    <div>
        <label>Gender</label>
        <select name="gender" required="required">
            <option>Male</option>
            <option>Female</option>
            <option>Others</option>
            <option>Unknown</option>
        </select>
    </div>

    <div>
        <label>Age</label>
        <input type="number" id="age" name="age" min="18" placeholder="Age" value=""
               required="required">
    </div>

    <div>
        <label>Portrait</label>
        <input type="file" name="portrait" class="filepond" required>
    </div>

    <div>
        <label>Phone Number</label>
        <input type="tel" id="phoneNumber" name="phoneNumber"  minlength="10" maxlength="19" size="20"
               placeholder="Phone Number" value="(000)-(000)-(0000)"
               required="required">
    </div>

    <div>
        <label>Address</label>
        <textarea id="address" name="address" placeholder="Address" cols="30" rows="10"
                  required="required"></textarea>
    </div>

    <div>
        <label for="password">Password / 密码</label>
        <input type="password" id="password" name="password" placeholder="Password" required="required"
               oninvalid="this.setCustomValidity('Password is required.')"
               oninput="this.setCustomValidity('')">
    </div>
    <div>
        <label for="password">Confirm Password / 再次确认</label>
        <input type="password" id="password2" name="password2" placeholder="Confirm Password" required="required"
               oninvalid="this.setCustomValidity('Passwords do not match.')"
               oninput="this.setCustomValidity('')">
    </div>
    <button type="submit">Register / 注册</button>
</form>

<p>Already have an account?</p>
<a href="/user/login">Login / 登陆</a>