<h1 class="app-title-register"><a href="/">Tian Mao</a></h1>
<br><br><br>
<form class="register-form" action="/seller/sign_up" method="post">
    <h1>Register/ 注册</h1>
    <div>
        <label for="name">Username / 用户名</label><br>
        <input class="register-input" type="text" id="username" name="username" placeholder="Username" required="required"
               oninvalid="this.setCustomValidity('Username is required.')"
               oninput="this.setCustomValidity('')">
    </div>
    <br>
    <div>
        <label for="email">Email / 邮箱</label><br>
        <input class="register-input" type="email" id="email" name="email" placeholder="Email" required="required"
               oninvalid="this.setCustomValidity('Email is required.')"
               oninput="this.setCustomValidity('')">
    </div>
    <br>
    <div>
        <label>Gender</label><br>
        <select class="register-input" name="gender" required="required">
            <option>Male</option>
            <option>Female</option>
            <option>Others</option>
            <option>Unknown</option>
        </select>
    </div>
    <br>
    <div>
        <label>Age</label><br>
        <input class="register-input" type="number" id="age" name="age" min="18" placeholder="Age" value=""
               required="required">
    </div>
    <br>
    <div class="form-row">
        <div class="form-item form-item-no-grow">
            <label>Portrait</label><br>
            <input type="file" name="portrait" class="product-cover filepond" required>
        </div>
        <div class="form-item">
            <label>Address</label><br>
            <textarea id="address" name="address" placeholder="Address" cols="30" rows="10"
                      required="required"></textarea>
        </div>
    </div>
    <br>
    <div>
        <label>Phone Number</label><br>
        <input class="register-input" type="tel" id="phoneNumber" name="phoneNumber"  minlength="10" maxlength="19" size="20"
               placeholder="Phone Number" value="(000)-(000)-(0000)"
               required="required">
    </div>
    <br>
    <div>
        <label for="password">Password / 密码</label><br>
        <input class="register-input" type="password" id="password" name="password" placeholder="Password" required="required"
               oninvalid="this.setCustomValidity('Password is required.')"
               oninput="this.setCustomValidity('')">
    </div>
    <br>
    <div>
        <label for="password">Confirm Password / 再次确认</label><br>
        <input class="register-input" type="password" id="password2" name="password2" placeholder="Confirm Password" required="required"
               oninvalid="this.setCustomValidity('Passwords do not match.')"
               oninput="this.setCustomValidity('')">
    </div>
    <button class="register-btn" type="submit">Register / 注册</button>
</form>

<div class="register-footer">
    <p>Already have an account?</p>
    <a class="register" href="/user/login">Login / 登陆</a>
</div>