<%if (locals.category != null) {%>
    <div class="form-row">
        <div class="form-item">
            <label>Category Name</label>
            <input type="text" name="category_name" placeholder="Category" value="<%=category.categoryName%>"
                   required="required"
                   oninvalid="this.setCustomValidity('Name is required.')"
                   oninput="this.setCustomValidity('')">
        </div>
        <div class="form-item">
            <label>Category Slug</label>
            <input type="text" name="category_slug" placeholder="Slug" value="<%=category.slug%>"
                   required="required"
                   oninvalid="this.setCustomValidity('Slug is required.')"
                   oninput="this.setCustomValidity('')">
        </div>
    </div>
<%}%>