:root {
    --product-cover-width: 200px;
    --product-cover-width-large: 325px;
    --product-cover-aspect-ratio: 0.75;
}

.product-cover {
    width: var(--product-cover-width);
    height: calc(var(--product-cover-width) / var(--product-cover-aspect-ratio));
}

.product-cover-large {
    --product-cover-width: var(--product-cover-width-large);
}

.product-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, var(--product-cover-width));
}

.product-grid-large {
    grid-template-columns: repeat(auto-fill, var(--product-cover-width-large));
}

.product-details {
    display: flex;
}

.product-details-label {
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
}

.product-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
    margin-left: 2rem;
}

.product-details-btn-grid {
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    grid-template-areas: "edit delete" "author author";
    grid-gap: .5rem;
    margin-top: .5rem;
}

.product-details-category-button {
    grid-area: author;
    justify-self: stretch;
}