<div>
    <label>Seller Name</label>
    <input type="text" name="seller_name" placeholder="Seller Name" value="">
</div>

<div>
    <label>Page Slug</label>
    <input type="text" name="page_slug" placeholder="Slug" value="">
</div>


