<h2>Seller's Products</h2>

<h3>New Product</h3>
<form action="/markets/sellers/add" method="post">
    <%- include("_add_form_fields.ejs"); %>
    <a href="/markets/sellers">Cancel</a>
    <button type="submit">Create</button>
</form>