<div>
    <label>Page Title</label>
    <input type="text" name="page_title" placeholder="Title" value="<%=page.pageTitle%>">
</div>

<div>
    <label>Page Slug</label>
    <input type="text" name="page_slug" placeholder="Slug" value="<%=page.slug%>">
</div>

<div>
    <label>Page Content</label>
    <textarea name="page_content" cols="30" rows="10" placeholder="Content"><%=page.content%></textarea>
</div>