<h3 class="page-header">Edit Page</h3>
<form action="/admin/pages/<%=page.id%>?_method=PUT" method="post">
    <%- include("_form_fields.ejs"); %>
    <a href="/admin/pages/<%=page.id%>">Cancel</a>
    <button type="submit">Update</button>
</form>