<h3 class="page-header">Edit Page</h3>
<form action="/admin/pages/<%=page.id%>?_method=PUT" method="post">
    <%- include("_form_fields.ejs"); %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/admin/pages/<%=page.id%>">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>