<h3 class="page-header">New Page</h3>
<form action="/admin/pages" method="post">
    <%- include("_form_fields.ejs"); %>
    <a href="/admin/pages">Cancel</a>
    <button type="submit">Create</button>
</form>