<h3 class="page-header">Edit Product</h3>
<form action="/admin/products/<%=product.id%>?_method=PUT" method="post">
    <%- include("_form_fields.ejs"); %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/admin/products">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
    </div>
</form>