<h3 class="page-header">Edit Product</h3>
<form action="/admin/products/<%=product.id%>?_method=PUT" method="post">
    <%- include("_form_fields.ejs"); %>
    <a href="/admin/products">Cancel</a>
    <button type="submit">Update</button>
</form>