<h1>User Home Page</h1>

<h1>Views: <%=views%></h1>

<div>
    <h3>Page Content</h3>
    <%=content%>
</div>

<h3>Categories</h3>
<ul>
    <li><a href="/products">All Products</a></li>
    <%categories.forEach(category => {%>
        <li><a href="/products/<%=category.slug%>"><%=category.categoryName%></a></li>
    <%})%>
</ul>