<header>
    <nav>
        <a href="/admin/dashboard">Admin Area</a>
        <a style="float: right; padding-right: 800px" href="/">Tian Mao</a>
        <ul>
            <li><a href="/admin/pages">Pages</a></li>
            <li><a href="/admin/pages/new">Add Page</a></li>
            <li><a href="/admin/categories">Categories</a></li>
            <li><a href="/admin/categories/new">Add Category</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/products/new">Add Product</a></li>
            <%if (locals.user && locals.user.admin == 1) {%>
            <li>Welcome Home, <%=user.username%> <i class="fas fa-user-cog"></i></li>
                <li><a href="/logout">Logout</a></li>
            <%}%>
        </ul>
    </nav>
</header>