<header>
    <nav>
        <a href="/admin/dashboard">Admin Area</a>
        <ul>
            <li><a href="/admin/pages">Pages</a></li>
            <li><a href="/admin/pages/new">Add Page</a></li>
            <li><a href="/admin/categories">Categories</a></li>
            <li><a href="/admin/categories/new">Add Category</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/products/new">Add Product</a></li>
        </ul>
    </nav>
</header>