<header>
    <nav>
        <a href="/admin/dashboard">Admin Area / 管理员界面</a>
        <a style="float: right; padding-right: 800px" href="/">Tian Mao</a>
        <ul>
            <li><a href="/admin/pages">Pages</a></li>
            <li><a href="/admin/pages/new">Add Page / 添加页面</a></li>
            <li><a href="/admin/categories">Categories</a></li>
            <li><a href="/admin/categories/new">Add Category / 添加类别</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li><a href="/admin/products/list">Products List</a></li>
            <li><a href="/admin/products/new">Add Product / 添加产品</a></li>
            <li><a href="/admin/sellers">Sellers</a></li>
            <%if (locals.user && locals.user.admin == 1) {%>
            <li>Welcome Home, <%=user.username%> <i class="fas fa-user-cog"></i></li>
                <li><a href="/user/logout">Logout</a></li>
            <%}%>
        </ul>
    </nav>
</header>